<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	
	<title>Responsive Image Slider</title>
	
	@*<link rel="stylesheet" href="/Content/slider.css" type="text/css"/>*@
    @*<link rel="stylesheet" href="Content/Site.css" type="text/css">*@
	@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>*@
	@*<script type="text/javascript" src="/Scripts/jquery.flexslider-min.js"></script>*@
    <script type="text/javascript">        
        $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: 'slide',
                controlsContainer: '.flexslider',
                slideshowSpeed: '7000',
                animationSpeed: '1000',
                touch: true,
                pausePlay: false,
                controlNav: false
            });
        });(jQuery);
    </script>
	<!-- Preview Styles -->
<meta name="robots" content="noindex,follow" />
</head>
<body>
    <div class="flex-container">
	    <div class="flexslider">
		    <ul class="slides">
			    <li>
				    <img alt="" class="noselect" src="/Images/picture1.jpg" />
                    <p></p>
			    </li>			
			    <li>
				    <img alt="" class="noselect" src="/Images/picture2.jpg" />
                    <p></p>
			    </li>	
			    <li>
				    <img alt="" class="noselect" src="/Images/picture3.jpg" />
				    <p></p>
			    </li>
		    </ul>
	    </div>
    </div>
    <div id="social" class="noselect">
        <div id="inst" onclick="window.open('https://www.instagram.com/ohlalaph/','_blank');">
            @*<a target="_blank" href="https://www.instagram.com/ohlalaph/" style="display: none"></a>*@ 
        </div>
        <div id="face" onclick="window.open('https://www.facebook.com/OhLalaPH/','_blank');">
            @*<a target="_blank" href="https://www.facebook.com/OhLalaPH" style="display: none"></a>*@
        </div> 
    </div>
</body>
</html>


@*
<!-- jQuery library (served from Google) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
<script src="/Scripts/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="/Content/jquery.bxslider.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: true,
            auto: true,
            autoControls: false
        });
    });
</script>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div style="width:700px;height:250px;align:center;padding-left:250px;">
                <ul class="bxslider">
                    <li><img src="/Images/picture1.jpg" /></li>
                    <li><img src="/Images/picture2.jpg" /></li>
                    <li><img src="/Images/picture3.jpg" /></li>
                    <li><img src="/Images/picture4.jpg" /></li>
                </ul>
            </div>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<body>
    <ol class="round">
        <li class="one">
            <h5>Getting Started</h5>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and that gives you full control over markup
            for enjoyable, agile development. ASP.NET MVC includes many features that enable
            fast, TDD-friendly development for creating sophisticated applications that use
            the latest web standards.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        </li>

        <li class="two">
            <h5>Add NuGet packages and jump-start your coding</h5>
            NuGet makes it easy to install and update free libraries and tools.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        </li>

        <li class="three">
            <h5>Find Web Hosting</h5>
            You can easily find a web hosting company that offers the right mix of features
            and price for your applications.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
        </li>
    </ol>
</body>


<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- For intranet testing only, remove in production. -->
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Slide Show</title>
  <style>
    #slideShowImages { /* The following CSS rules are optional. */
      border: 1px gray solid;
      background-color: lightgray;
    }   
  
    #slideShowImages img { /* The following CSS rules are optional. */
      border: 0.8em black solid;
      padding: 3px;
    }   
  </style>
</head>

<body>
  <div id="slideShowImages">
    <img src="images/picture1.jpg" alt="Slide 1" />
    <img src="images/picture2.jpg" alt="Slide 2" />
    <img src="images/picture3.jpg" alt="Slide 3" />    
    <img src="images/picture4.jpg" alt="Slide 4" />
  </div>  
  <button id="slideShowButton"></button> <!-- Optional button element. -->
  <script src="Scripts/slideShow.js"></script>
</body>

</html>
*@